@charset "UTF-8";

/* Passion One */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/* Sriracha */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;

    background-color: darkgray;

    font-family: var(--fonte1);
}

header {
    background-color: black;
    
    color: white;

    text-align: center;
}

header > h1 {
    padding-top: 50px;

    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;

    text-decoration: none;

    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

    font-family: var(--fonte3);
    font-size: 3.5vw;

    line-height: 2em;
}

section.normal {
    background-color: white;

}

section.imagem {
    color: white;

    background-color: rgb(51, 51, 51);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);

    display: inline-block;

    padding: 10px;
}

footer {
    background-color: black;

    text-align: center;

    color: white;

    padding: 10px;
}