@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, #0078DB, #103C5F);

    padding: 20px;
}

main {
    background-color: white;

    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;

    border-radius: 0px 0px 10px 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}


#titulo {
    color: white;
    font-size: 3em;
}

section#img1 {
    background-image: url(../imagens/tokyog.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 500px;
    
    box-shadow: inset 0px 0px 20px black;
}

section#img2 {
    background-image: url(../imagens/ponteg.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 500px;
    
    box-shadow: inset 0px 0px 20px black;
}

h1#titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;

    text-align: center;

    text-shadow: 1px 1px 4px black
}

h2 {
    padding-top: 30px;
    padding-left: 40px;

    font-family: 'Poppins';

    
}

nav {
    display: inline-block;

    padding-left: 20px;
}

nav > a {
    font-size: 1.3em;
    
    text-decoration: none;

    color: white;

    padding: 5px;

    border-radius: 5px;

    transition-duration: 0.5s;
}

nav > a:hover {
    text-decoration: underline;

    background-color: rgba(0, 0, 0, 0.349);
}


body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
    padding: 38px 20px;
    

    line-height: 1.5em;

    text-indent: 20px;
    text-align: justify;
}

p#pimg1 {
    background-color: rgba(0, 0, 0, 0.568);

    background-size: cover;

    margin-left: 50px;
    
    font-weight: bold;
    font-family: 'Poppins';

    width: 9em;

    color: rgb(235, 35, 35);
}

p#pimg2 {
    background-color: rgba(0, 0, 0, 0.568);

    background-size: cover;

    margin-left: 50px;
    
    font-weight: bold;
    font-family: 'Poppins';

    width: 18em;

    color: rgb(162, 145, 255);
}

