@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #8442ED 60%, #6F38C7, #592DA1);
    background-attachment: fixed;
}

main {
    background-color: #ffffff33;
    box-shadow: 5px 5px 15px #391d66a9;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    color: #391D66;
    text-align: center;
    text-shadow: 1px 1px 3px #391d66be;
}

h2 {
    color: #38068a;
}

p {
    text-align: justify;
}